@using Microsoft.AspNetCore.Http
@using LaborExchange.Server.Services
@using LaborExchange.Server.DBModel
@inherits LayoutComponentBase
@inject IHttpContextAccessor _httpContextAccessor
@inject NavigationManager _navigationManager
@inject IUserManager _userManager;

<RadzenContextMenu/>
 @*Visible="@(IsLoggedIn && User.USER_TYPE is (int)UserType.Administrator or (int)UserType.Employer)"*@
<RadzenLayout>
    <RadzenHeader>
        <ChildContent>
            <div style="display: inline-flex; justify-content: flex-start; width: 100%">
                <RadzenMenu>
                    <RadzenMenuItem Text="" Icon="home" Path="/jobs"/>
                    <RadzenMenuItem Text="Работники" Path="/employees" Icon="account_box"/>
                    <RadzenMenuItem Text="Вакансии" Path="/jobs" Icon="list"/>
                </RadzenMenu>
                <RadzenProfileMenu Style="margin-left: auto;">
                    <Template>
                        <RadzenGravatar Email="user@example.com">
                        </RadzenGravatar>
                    </Template>

                    <ChildContent>
                        <RadzenProfileMenuItem Text="LogIn" Path="LogIn" Icon="account_circle"/>
                        <RadzenProfileMenuItem Text="LogOut" Path="Logout" Icon="account_circle"/>
                    </ChildContent>
                </RadzenProfileMenu>
            </div>
        </ChildContent>
    </RadzenHeader>
    <RadzenBody>
        <ChildContent>
            <RadzenContentContainer Name="main">
                @Body
            </RadzenContentContainer>
        </ChildContent>
    </RadzenBody>
</RadzenLayout>

@code {

    public HttpContext CurrentContext;

    public bool IsLoggedIn => User != null;

    public USER User;

    protected override void OnInitialized()
    {
        if (_httpContextAccessor?.HttpContext?.Request == null) return;

        User = _userManager.GetCurrentUser(CurrentContext);

        CurrentContext = _httpContextAccessor.HttpContext;
        Console.WriteLine(_httpContextAccessor.HttpContext.User.Identity?.Name);
    }

}