@page "/login"
@using LaborExchange.Server.Services
@using Microsoft.AspNetCore.Http
@inject IUserManager _userManager
@inject IHttpContextAccessor _viewHttpContextAccessor
@inject NavigationManager _navigationManager

<h3>Login</h3>
<div style="display: inline-flex; justify-content: center; width: 100%">

    <RadzenCard style="display: inline-flex; justify-content: center; width: min-content">
        <RadzenTemplateForm Data=@("SimpleLogin")>
            <RadzenLogin AllowResetPassword="false"
                         Login="@(OnLogin)"
                         Register="@(OnRegister)"/>
        </RadzenTemplateForm>
    </RadzenCard>
</div>



@code {

    [Parameter]
    public EventCallback OnLoginCallback { get; set; }

    void OnLogin(LoginArgs args)
    {
        var result = _userManager.Validate(args.Username, args.Password);
        _userManager.SignIn(_viewHttpContextAccessor.HttpContext, result.User);
        _navigationManager.NavigateTo("/jobs");
    }

    void OnRegister()
    {
        _navigationManager.NavigateTo("/register");
    }

}