@page "/login"
@using LaborExchange.Server.Services
@using Microsoft.AspNetCore.Http
@inject IUserManager UserManager
@inject IHttpContextAccessor ViewHttpContextAccessor
@inject NavigationManager NavigationManager

<h3>Login</h3>
<div style="display: inline-flex; justify-content: center; width: 100%">

    <RadzenCard style="display: inline-flex; justify-content: center; width: min-content">
        <RadzenTemplateForm Data=@("SimpleLogin")>
            <RadzenLogin AllowResetPassword="false"
                         Login="@(OnLogin)"
                         Register="@(OnRegister)"/>
        </RadzenTemplateForm>
    </RadzenCard>
</div>



@code {

    [Parameter]
    public EventCallback OnLoginCallback { get; set; }

    void OnLogin(LoginArgs args)
    {
        var result = UserManager.Validate(args.Username, args.Password);
        UserManager.SignIn(ViewHttpContextAccessor.HttpContext, result.User);
        NavigationManager.NavigateTo("/jobs");
    }

    void OnRegister()
    {
        NavigationManager.NavigateTo("/register");
    }

}